.stars_wrapper {
  margin: 100px auto;
}

.wrap-star {
  display: flex;
  justify-content: center;
}

.list_star_wrapper {
  display: flex;
  justify-content: center;
}

.total_rate,
.list_rate {
  font-size: 5rem;
  margin-left: 20px;
}
